@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap');

body{
  margin: 0%;
  padding: 0%;
  font-family: 'Poppins', sans-serif !important;
}

:root{
  --color-dark: #393E46;
  --primary-blue: #00ADB5;
  --primary-transparent-blue: #00acb563;
  --soft-blue: #AAD8D3;
  --color-light: #EEEEEE;
  --radius: 23px;
}

/*FIRST SECTION*/

.section-one {
  background: url("./assets/backgrounds/bg2.png") no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  min-height: 100vh;
  }

.container{
  padding: 0px !important;
}

.intro{
  padding: 0rem 1.5rem;
  font-size: 1.8em;
  color: var(--color-dark) !important;
  height: 35vw;
  background-color: #EEEEEE78  ;
  border-top-right-radius: var(--radius);
  border-bottom-right-radius: var(--radius);
}

#logo{
  height: 35vw;
  width: auto;
  border-bottom-left-radius: var(--radius);
  border-top-left-radius: var(--radius);
}

.title{
  font-size: 2em;
  width: fit-content;
  transition: box-shadow .3s;
  text-decoration: none;
  box-shadow: inset 0 -2px 0 var(--primary-transparent-blue), 0 2px 0 var(--primary-transparent-blue);
  overflow: hidden;
}

.title:hover{
  box-shadow: inset 0 -30px 0 var(--primary-transparent-blue), 0 2px 0 var(--primary-transparent-blue);
}

.description{
  font-size: 0.9em;
}

.info-button{
  background-color: var(--soft-blue);
  border: hidden;
  font-size: 0.9em;
  font-weight: bold;
  color: var(--color-dark);
  padding: 0.2em 1.2em;
  width: fit-content;
  transition: box-shadow .3s;
  text-decoration: none;
  overflow: hidden;
  box-shadow:none;
}

.info-button:hover{
  box-shadow: inset 0 -50px 0 var(--primary-transparent-blue), 0 2px 0 var(--primary-transparent-blue);
} 

/* SECOND SECTION */

.second-section{
  background: url("./assets/backgrounds/light-blue-bg.jpg") no-repeat center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  min-height: 100vh;
  color: var(--color-dark);
}

.activities-title{
  margin: 4rem auto;
}

.activities-title>h1{
  box-shadow: inset 0 -35px 0 var(--soft-blue), 0 2px 0 var(--soft-blue);
  display: inline;
  font-size: 4.5em;
  transition: box-shadow;
  transition-duration: 0.3s;
}

.activities-title>h1:hover{
  box-shadow: inset 0 -50px 0 var(--soft-blue), 0 2px 0 var(--soft-blue);

}

.activtity-description>p{
  font-size: 1.5rem;

}

#activity-img{
  width: 99%;
  height: auto;
  margin: 2rem auto;
}

/* THIRD SECTION */

.third-section{
  text-transform: uppercase;
}


.discord, .social-media{
  min-height: 100vh;
  padding: 0px !important;
}

.discord{
  background-color: var(--color-dark);
  color: var(--soft-blue);
}

.social-media{
  background-color: var(--soft-blue);
  color: var(--color-dark);
}

.piece>img{
  width: 15%;
  height: auto;

}

/* .discord-invite{
  height: 150px;
  width: 150px;
  border-radius: var(--radius);
  border: #AAD8D3 5px solid;
  transition-duration: 0.1s;
}

.discord-invite:hover{
  border: dotted;
}
*/
.discord-invite>img{
  height: 20% !important;
  width: auto;
} 

/* MEDIA QUERRIES */

@media (min-width: 1200px){
.second-section>.container {
    max-width: 1200px;
}
}

@media (max-width: 1200px) {
  .title{
    font-size: 1.7em;
  }

  .description{
    font-size: 0.7em;
  }
}

@media (max-width: 1000px){
  .container{
    flex-direction: column;
  }

  .intro, #logo{
    width: 55vw;
    height: auto;
  }

  .intro{
    border-radius: 0px 0px var(--radius) var(--radius) ;
    padding: 1.5rem;
  }

  #logo{
    border-radius: var(--radius) var(--radius) 0px 0px;
  }
}

@media (max-width: 750px){ 
  .intro, #logo{
    width: 70vw;
  }
}

@media (max-width: 500px){
  .intro, #logo{
    width: 90vw;
  }
}

@media (max-width: 550px){
  .activities-title>h1{
    font-size: 3.1rem;
    box-shadow: inset 0 -30px 0 var(--soft-blue);
  }
}

@media (max-width: 960px){
  .third-section{
    flex-direction: column;
  }
}